body{
    position:relative;
    margin-bottom: 0;
}

header{
    padding: 15px;
    display: flex;
    height:100%;
    position: sticky;
    top:0;
    /* border: 2px solid red; */
    background-color: white;
    opacity:1;
    z-index:99;
    margin-bottom: -45px;
}

#logo{
    margin-top: 10px;
    margin-left: 20px;
    height:40px;
    width: 40px;
}

#topbar-wrapper{
    background-color: none;
    display: flex;
    flex-direction: row-reverse;
    margin-left: auto;
    margin-right: 53px;
    margin-top: 15px;
    justify-content: center;

    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: black;
    font-weight: 600;
    font-size: 14px;
}

#buy-now {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    border-radius: 4px;
    border:none;
}

#buy-now:hover{
    cursor: pointer;
}

.triangle {
    position:absolute;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    transform: translateY(6px);
}

.dropdown{
    display:inline-block;
    position:relative;

}

.dropdown:hover
.dropdown-div{
    display: flex;
    cursor: pointer;
}

.dropdown:hover{
    cursor: pointer;
}

#menu-wrapper{
    display:flex;
}

#menu-wrapper div{
    padding-top: 7px;
    padding-right: 25px;
}

.dropdown-div{
    text-align: center;
    width: 100px;
    padding-bottom: 15px;
    top:30px;
    font-family: 'Poppins', sans-serif;
    border-top: 2px solid rgb(170, 210, 54);
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    margin-top: 5px;

    display: none;
    flex-direction: column;
    position:absolute;
    justify-content: center;
    
}

.dropdown-div div{
    border-bottom:1px solid rgb(173, 171, 171);
    transform: translateX(10%);
}
.dropdown-div div:last-of-type{
    border-bottom:none;
    transform: translateX(10%);
}

#section1{
    background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png);
    height: 86.55vh;
    text-align: center;
}

#section1-heading{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    
}

#section1-paragraph{

    text-align: center;
}

#section1 div{
    margin-left: auto;
    margin-right: auto;
    transform: translateY(30vh);
    width:60vw;
}

#section2{
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* display:flex; */
    height: 80vh;    
}

#section2 i {
    color: lavenderblush;
    transform: translateY(25vh) scale(4);
}

#section2 div{
    text-align: center;
}

#section2 i:hover{
    transform: translateY(25vh) scale(4.5);
}

#section2 div:first-of-type{
    background-color: #5acda6
}

#section2 div:nth-child(2){
    background-color: #91ac41;
}

#section2 div:nth-child(3){
    background-color: #e4b476;
}

#section2 div:last-of-type{
    background-color: #f69dad;
}

#section2 h3{
    transform: translateY(30vh);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: ivory;
}

#section2 p{
    transform: translateY(30vh);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    color: ivory;
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

#section3{
    text-align: center;
    background-color: #f7eee2;
    margin-top: -35px;
    height : 80vh;
}

#section3 h6{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px
}

#section3 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    margin-bottom: -12px;
}

#section3 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

#section3 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

#section3-grid{
    width: 80vw;


    display: grid;
    grid-template-columns: auto auto auto auto;

    margin-left: auto;
    margin-right: auto;

    transform: translateY(7vh);
}

.icon-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right:14px;
    /* border:2px solid red; */
}

#section3 i:hover{
    transform:scale(4.5);
}
#section3 i{
    /* border:2px solid blue; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 200%;
    background-color: #e3b375;
    color:lavenderblush;
    transform:scale(4);
    width:20px;
    height:20px;
    margin-top: 40px;
    padding:3px
}



#section4 h6{
    text-align: center;
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 35px;
    margin-bottom: -30px;
}

#section4 h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    
}

#section4>p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
    margin-top: -20px;
    margin-bottom: 80px;
    width:50vw;
    margin-left: auto;
    margin-right: auto;
}

#review-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;  
}

#review-wrapper div{
    background-color:#f5f6fb;
    border-top-left-radius:  45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    width:25%;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    padding-top: 30px;
}

#review-wrapper div:hover{
    box-shadow: 5px 5px;
}

#review-wrapper blockquote{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: Italic;
    color: #8b8b99;
}

.author{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-top: 30px;
    margin-bottom: -10px;
}

.profession{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #8b8b99;
    font-style: Italic;

}

#review-wrapper img{

    width:75px;
    border-radius:50%;
}

#section5{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#section5 img{
    width:70vw;
}

#section5>div{
   display: flex;
   justify-content: center;
   align-content: center;
   align-items: center;
    background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png");
  
}

#section5 button{
    background-color: #f69dad;
    border:none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    width:75%;
    padding: 10px 5px;
    font-weight: bold;
}

#section5 button:hover{
    border: 1px solid #f69dad;
    background-color: transparent;
    cursor: pointer;
    color: #f69dad;
}

#section5 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin-top: -50px;
}

#section5 p{
    color: #8b8b99;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
    margin-top: -30px;
    margin-bottom: 50px;
}

#section5 input{
    border:none;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 5px;
    outline: none;
}


#sec5-wrapper div{
    height:50%;
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#section6 {
    background-color: rgb(236, 250, 236);
    display: flex;
    justify-content: space-around;
}

#section6 h1{
    text-align: center;
    font-size: 40px;
    margin-bottom: -10px;
}

#section6 p{
    color: #70e470;
    font-style: italic;
    font-size: 15px;
    padding-bottom: 15px;
}

#section7{
    display:flex;
    flex-direction: column;
}

#section7 h1{
    font-size: 40px;
    color:grey;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#section7 iframe{
    margin-left: auto;
    margin-right: auto;
    width:60vw;
    height:60vh;
    border:none
}

#section8 {
    display:flex;
    justify-content: center;
    align-items: flex-start;
}

#section8>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    width:35%
    
}

#section8 form{
    display: flex;
    flex-direction: column;
    width:80%;
}

#section8 h6{
    margin-top: 30vh;
    color: #91ac41;
    font-size: 20px;
    font-family: 'Caveat', cursive;    
}

#section8 h2{
    margin-top: -30px;
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
}

#section8 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 1.25px;
    width: 90%;
}

#section8 h5{
    font-size: 20px;
    letter-spacing: 1.25px;
}

#section8 input{
    
    border:none;
    margin-bottom: 20px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    line-height: 300%;
    padding-left: 10px;
    outline: none;
}

#section8 input:last-of-type{
    line-height: 450%;
}

#section8 button{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(170, 210, 54);
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    line-height: 200%;
    width:40%;
    color: white;
    font-size: 100%;
}

#section8 button:hover{
    cursor: pointer;
}

footer{
    background-color: #232323;
    color: white;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

footer p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

